*{
    padding: 0;
    margin: 0;
}
body{
    background-size: cover;
    
}

.main{
    width: 25%;
    margin-top: 5%;
    margin-left: 10%;
    height: 35em;
}
.di1{
    padding-top: 5%;
    padding-left: 5%;
}
.height{
float: left;
height: 40rem;
}
.color{
    color: rgb(12, 12, 12);
}